body{
    font-family: Sora;
    max-width: 1200px;
    padding: 10.125rem 5rem;
    display: flex;
    background-color: #FAFAF9;
}

.introduccion{
    flex: 1;
}

.titulo{
    font-size: 2.25rem;
    padding: 1rem 0 0.75rem 0;
}

.texto_principal{
    font-size: 1.25rem;
    line-height: 2;
    padding: 0 3rem 2rem 0;
    color: #52525A;
}

li{
    display: flex;
    align-items: center;
    padding-bottom: 0.75rem;
}

.item{
    width: 1.5rem;
    height: 1.5rem;
}

.texto_lista{
    font-size: 0.875rem;
    color: #52525A;
    padding-left: 0.5rem;
}

.testimonios{
   display: flex; 
   flex-direction: column;
   flex: 1;
}

.testi_1{
    align-self: flex-start;
    margin-left: auto;

}

.testi_2{
    align-self: flex-end;
    margin: auto auto 1rem 0;

}

.estrella{
    background-color: #F5C044;
    width: 1.5rem;
    height: auto;
    padding: 0.8rem;
    border-radius: 50%;
}

.div_testimonio{
    width: 22.3245rem;
    font-size: 1rem;
    padding: 1.75rem 0 1.75rem 2.5rem;
    border-radius: 1rem;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px #D4D4D8;
    backdrop-filter: blur(10px);
    border: none;
}

.logo_estrellas{
    align-items: center;
    display: flex;
}

.logo_testi{
    width: 6rem;
    padding-right: 1.25rem;
}

.estrellas{
    padding-right: 0.25rem;
}

.nombre{
    font-weight: 700;
    padding: 1rem 0 0.5rem 0;
}

.testimonio{
    color: #52525A;
    line-height: 2;
    padding-right: 5rem;
}

@media (max-width:1000px){
    body{
        flex-direction: column;
    }

    .testi_2{
        margin-top: 2rem;
    }

    .introduccion{
        margin-bottom: 2rem;
    }
}

@media (max-width:640px){
    body{
        padding-left: 2rem;
    }

}

@media (max-width:560px){

    .testi_1, .testi_2{
        align-self: center;
        margin: 1rem 0 0 2rem;
    }

    li{
        align-items: flex-start;
    }

    .item{
        width: 1.5rem;
        height: 1.5rem;
        flex: 1;
    }

    .texto_lista{
        flex: 10;
    }

}

@media (max-width:440px){
    .div_testimonio{
        width: 20rem;
    }

    .item_lista{
        width: 100%;
    }
}

@media (max-width:320px){

    .introduccion{
        text-align: center;
        padding-left: 2rem;
    }

    .testimonios{
        align-items: center;
        padding-left: 1rem;
    }

    .div_testimonio{
        width: 15rem;
    }

    .texto_principal{
        text-align: center;
        padding-right: 0;
    }
}